<launch>
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
	<node pkg="urg_node" type="urg_node" name="laser" />
	<node pkg="grp-rouge" type="challenge1_turtlebot.py" name="robot" />
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find grp-rouge)/challenge1_turtlebot.rviz" />
</launch>
